.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #d65a31; 
}

.fourth-color { 
	background: #eeeeee; 
}

.fifth-color {
  background: #ffffff;
}
/* font-family: 'Indie Flower', cursive;  
font-family: 'Rock Salt', cursive;*/


/* alt shift A (o ctrl \ si el teclado está en español) para comentar una linea */
/* alt Z para word wrap */
/* ctrl K ctrl C comenta y ctrl K ctrl U descomenta */
/* ctrl enter genera espacio en la linea de abajo y me lleva a ella, ctrl shift enter en la de arriba y me lleva*/
/* shift spr es para borrar la linea donde estoy */
/* alt y la tecla del cursor para mover un bloque de código seleccionado */
/* Emmet es compendio de codificación. ej div*3 escribe 3 div, si pongo div#divID.divClass escribe <div id="myID" class="myClass">< /div>*/
/* ctrl P para navegar entre archivos */
/* ctrl K Z para modo zen y sacarlo */
/*  ctrl \ para dividir la pantalla verticalmente*/
/*  ctrl L para seleccionar la linea actual*/
/* ctrl K ctrl S para ver los todos shortcuts */
/* alt shift F para identar */

/* esto es para que el borde y el padding se cuenten dentro del alto y ancho especificado */
html {
  -webkit-box-sizing: border-box;
               box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  /*esto se hace para estandarizar como quiero que se vea todo sin importar el navegador*/
  margin: 0;
  padding: 0;

  /* todo a la misma velocidad de inicio y final del efecto*/
  transition: all 0.2s linear;

  /* todo con una letra standar para cualquier navegador con un estilo cursiva  */
  font-family: "Lucida Sans";
  /* ¡Las unidades em y rem son prácticas para crear un diseño perfectamente escalable! */
  font-style: italic;
  color:  #222831; 
  ;
  text-align: center;
  text-transform: capitalize;

  /* por ahora vamos a dejar un sólo background */
  background: #eeeeee;
}

body {
  overflow-x: hidden;
  /* este display hace que se vea de costado */
/*   display: flex; */
}

header {
  width: 100%;
  /* que el header sea flexible en cuanto al tamaño de la pantalla */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* alinear los elementos de arriba abajo */
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items:center;
  /* alinear los elementos de izquierda a derecha */
  -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  /* fijar la posicion */
  padding: 1rem 4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: #808080;
}


header nav ul {
  /* que sea horizontal */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* que no tenga el puntito de los elementos de la lista */
   list-style: none;
   -webkit-box-align: center;
     -ms-flex-align: center;
            align-items: center;
   -ms-flex-pack: distribute;
   justify-content: space-around;
  background-color: #808080;
}

header nav ul li {
  margin-right: 6rem;
  margin-left: 6rem;

  background-color: #808080;
}

header nav ul li a {
  text-decoration: none;
  color: #402b26;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  font-weight: 1000;
  /* padding arriba y a la derecha */
  padding: .5rem 2.5rem;
  border-radius: 5rem;

  background-color: #808080;
  }

header nav ul li a:hover {
  background-color: #222831;
  color: #d65a31;
}
  
header .fa-bars {
  color: #ff892f;
  font-size: 3.5rem;
  cursor: pointer;
  z-index: 10;
  display: none;
}

#contact{
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  /* background: url(https://c.files.bbci.co.uk/F173/production/_106811816_message.jpg) no-repeat; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}